<h1>Bienvenue sur SuMovies</h1>
<div class="text-justify" style="white-space: pre-line">
Projet de Master1 pour le cours d'architecture web<br>
<br>
Le site doit permettre à un utilisateur de saisir et de rechercher des films. Chaque film est associé à une ou plusieurs catégories (genre du film ). L’utilisateur doit pouvoir, dans un premier temps, voir une affiche du film avec un synopsis. De plus, un bouton avec résumé détaillé sera possible afin de se rendre sur une page du film dédiée.
<br>
Le site doit permettre à un utilisateur de saisir et de rechercher des films. Chaque film est associé à une ou plusieurs catégories (genre du film ). L’utilisateur doit pouvoir, dans un premier temps, voir une affiche du film avec un synopsis. De plus, un bouton avec résumé détaillé sera possible afin de se rendre sur une page du film dédiée.

</div>
